AGNES_BASE_URL=
AGNES_API_KEY=
AGNES_MODEL_FLASH=
AGNES_MODEL_PRO=
AGNES_MODEL_TURBO=
AGNES_DEFAULT_MODEL=
AGNES_TIMEOUT=
AGNES_MAX_RETRIES=

ALPACA_ENVIRONMENT=
ALPACA_ENDPOINT=
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_PAPER=
